@import '../../variables.scss';
@import '../../mixins.scss';

.country-cards-container {
  @include flex-center;
  }  

  .country-card {
    @include card-item;
  }  

  .inner {
    @include card-item-inner;

    &:hover {
      background-color: $block-background-hover;
      cursor: pointer;
      transform: scale(1.05);
    }
        
    p {
      @include p-in-block;
    }
         
    h4 {
      @include h4-in-block;
    }
  }
