@import '../../variables.scss';
@import '../../mixins.scss';

button {
  @include button;
}

input {
  font-size: 1.6rem;
  padding: 1rem;
  max-width: 26rem;
}

.country-cards-container {
  @include flex-center;
  margin: 2rem auto 0 auto;
  }  

  .country-card {
    @include card-item;
  }  

  .inner {
    @include card-item-inner;

    &:hover {
      background-color: $block-background-hover;
      cursor: pointer;
      transform: scale(1.05);
    }
        
    p {
      @include p-in-block;
    }
         
    h4 {
      @include h4-in-block;
    }
  }  
