.container {
    margin: 0 auto;
    width: 600px;
  }
   
  h2, p {
    font-family: 'Lato';
  }

  h2 {
    text-align: center;
    color: #46150b;
  }
   
  p {
    font-size: 1.25rem;
  }
   
  p span {
    color: #9C27B0;
    font-weight: bold;
    border-radius: 5px;
    width: 250px;
    display: inline-block;
  }
   
  label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    font-family: 'Lato';
  }

  img {
    width: 200px;
  }

  .button-container {
    margin: 0 auto;
    text-align: center;
  }
   
  button {
    margin: 10px;
    background-color: #F44336;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: 'Lato';
  }

  a {
    text-decoration: none;
    background-color: #F44336;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: 'Lato';
  }
