<div class="container">
  <div *ngIf="country">
    <h2>{{ country.name | uppercase }}</h2>
    <div class="country-detail">
      <p *ngIf="country.capital">
        <span>Capital: </span>{{country.capital}}</p>
      <p *ngIf="country.area">
        <span>Area: </span>{{country.area | number}} km<sup>2</sup>
      </p>
      <p *ngIf="country.populaton">
        <span>Population: </span>{{country.population | number}}
      </p>
      <p *ngIf="country.gini">
        <span>Gini index: </span>{{country.gini}}
      </p>
      <p>
        <span>Currency: </span>{{country.currency}}
      </p>
      <p>
        <span>Languages: </span>{{country.language}}
      </p>
      <p>
        <span>Flag: </span><img src='{{country.flag}}'>
      </p>   
      <p *ngIf="country.happinessIndex">
        <span>{{fieldHappinessIndexTitle}} </span>{{country.happinessIndex}}
      </p>
    </div>
    <app-map [latitude]="country.latLang[0]" [longitude]="country.latLang[1]"></app-map>
    <div class="button-container">   
      <button (click)="goBack()">Go back</button>
      <a routerLink="/detail/{{country.name}}/edit"><button>Edit info about {{country.name}}</button></a>
    </div>
  </div>
</div>
