.container {
    margin: 0 auto;
    width: 600px;
  }
   
  h2, p {
    font-family: 'Lato';
  }

  h4 {
    text-align: center;
    color: #46150B;
  }
   
  p {
    font-size: 1.25rem;
  }
   
  p span {
    color: #9C27B0;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    display: inline-block;
  }

  form {
    margin: 0 auto;
    text-align: center;
  }

  .button-container {
    margin: 20px auto;
    text-align: center;
  }
   
  label {
    display: inline-block;
    width: 10em;
    margin: .5em 0;
    color: #9C27B0;
    font-family: 'Lato';
    font-weight: bold;
  }
 
  button {
    margin: 10px;
    font-family: Arial;
    background-color: #F44336;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    font-family: 'Lato';
  }
