@import '../../variables.scss';
@import '../../mixins.scss';

form {
  margin: 0 auto;
  text-align: center;

  & label {
    color: #9C27B0;
    font-weight: bold;
    font-size: 1.6rem;
    margin-right: 0.5rem;
  }

  & .button-container {
    margin: 20px auto;
    text-align: center;

    & button {
      @include button;
    }
  }
} 
