nav {
    margin: 0px;
    text-align: center;
  }
   
  h1 {
    font-family: 'Lato';
    color: #9C27B0;
    text-align: center;
  }
   
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
   
  nav a {
    padding: 10px;
    text-decoration: none;
    margin: 10px 10px;
    display: inline-block;
    background-color: #F44336;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Lato';
  }
   
  nav a:hover {
    background-color: #FFFFFF;
    color: #F44336;
    border: 1px solid #F44336;
  }
   
  nav a.active {
    color: #039BE5;
  }
