@import './variables.scss';

@mixin flex-center {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

@mixin h4-in-block {
  margin-top: 0;
  color: $color4;
}

@mixin p-in-block {
  margin-top: 0;
  margin-bottom: 0;
  color: $color4;
}

@mixin card-item {
  min-width: 22rem;
  display: inline-block;
  margin: 1rem;
}

@mixin card-item-inner {
  padding: 3rem 0;
  min-height: 13rem;
  margin: auto;
  text-align: center;
  color: $color4;
  background-color: $color5;
  border-radius: 5px;
  animation: all 2s ease-in-out;
}

@mixin button {
  margin: 1rem;
  background-color: $color3;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  color: $color4;
  font-family: 'Lato';
  font-size: 1.6rem;  

  a {
    color: $color4;
  }

  &:hover {
    background-color: $color4;
    color: $color3;
    border: 1px solid $color3;

    & a {
      color: $color3;
     }
  }   
}
