/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
@import './mixins.scss';

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }

  body {
    font-family: 'Lato';
  }

  h1, h2, h4, p {
    font-family: 'Lato';
    margin: 1rem;
  }

  h1 {
    font-size: 3.6rem;
    margin: 2rem;
    color: $block-background-hover;
    text-align: center;
  }

  h2 {
    font-size: 2.6rem;
    color: $title-color;
  }

  h4 {
    font-size: 2rem;
    color: $title-color;
  }

  p {
    font-size: 1.6rem;
  }

  a {
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0;
  }

  .container {
    margin: 0 10%;
    text-align: center;   
  }
