<ng-template let-titleName="titleName"
  let-countryTypes="countryTypes" 
  let-typeofData= "typeofData" 
  let-measurement="measurement" 
  #countriesInfoBlock>
  <h2>{{titleName}}</h2>
  <div class="group">
    <a *ngFor="let country of countryTypes" 
      class="country-unit" 
      routerLink="/detail/{{country.name}}">
      <div class="country-block">
        <h4>{{country.name}}</h4>
        <p>{{country[typeofData] | number}}</p>
        <p>{{measurement}}</p>
      </div>
    </a>
  </div>
</ng-template>

<div class="container">
  <ng-container [ngTemplateOutlet]="countriesInfoBlock"
    [ngTemplateOutletContext]="{
      titleName: 'The most populated countries', 
      countryTypes: populatedCountries, 
      typeofData: 'population', 
      measurement: 'People'
    }">
  </ng-container>
  <br>
  <ng-container [ngTemplateOutlet]="countriesInfoBlock"
    [ngTemplateOutletContext]="{
      titleName: 'The largest countries (by area)', 
      countryTypes: largestCountries,  
      typeofData: 'area',  
      measurement: 'km2'
    }">
  </ng-container>
  <br>
  <ng-container [ngTemplateOutlet]="countriesInfoBlock"
    [ngTemplateOutletContext]="{
      titleName: 'Countries with the biggest wealth inequality (by Gini index)', 
      countryTypes: giniCountries,  
      typeofData: 'gini',  
      measurement: ''
    }">
  </ng-container>
</div>
